.event.received{background-color: #fff;}

#header{}
#header .ui-title{font-size:16px;}
#content{text-align:center;}


#footer{text-align:center;padding:0;}
#footer .ui-controlgroup-controls a{width:14%;border:2px solid red;}
